global
  log 127.0.0.1:514 len 65535 local0
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  # stats socket    /var/run/haproxy/admin.sock
  daemon

defaults
  log global
  mode http
  option httplog
  option dontlognull
    contimeout 5000
    clitimeout 50000
    srvtimeout 50000
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http

frontend http
  bind *:3080

  # Receptionist routing
  # If the uri is "/api" then proxy to receptionist
  acl is_api path_beg -i /api
  acl is_docs path_beg -i /docs
  use_backend receptionist if is_api or is_docs

  # Gozer routing
  acl is_auth path_beg -i /auth
  acl is_gozer path_beg -i /gozer
  acl is_login path_beg -i /login
  acl is_signup path_beg -i /signup
  acl is_dashboard path_beg -i /dashboard
  use_backend gozer if is_auth or is_login or is_dashboard or is_signup or is_gozer

  # Genie routing
  acl is_admin path_beg -i /admin
  use_backend genie if is_admin

  # All other requests to off to spa
  default_backend genie

backend receptionist
  balance source
  option redispatch
  server receptionist localhost:3000 check

backend genie
  balance source
  option redispatch
  server genie localhost:3001 check

backend gozer
  balance source
  option redispatch
  server gozer localhost:3003 check

backend spa
  balance source
  option redispatch
  server spa localhost:3004 check
